PORT=8000
API_VERSION=1.0.0
DEBUG=True

# EMAIL ENV VARIABLE HERE
MAIL_USERNAME= # Email here that you want to use to send mail
MAIL_PASSWORD= # Your Email App Password Here
RECIPITENT_USERNAME= # Email in Which you want to recive the Mail

